.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.search-section {
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  font-size: 16px;
}

.hashtag-group span {
  display: inline-block;
  background-color: #ddd;
  color: #555;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hashtag-group span:hover {
  background-color: #555;
  color: white;
}

.video-preview {
  width: 80%;
  height: 350px;
  background-color: #f2f2f2;
  margin: 20px auto;
  border-radius: 8px;
}